@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir";
  src: url("/fonts/Agrandir-TextBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header-container {
  background: rgb(232, 249, 253);
  background: linear-gradient(
    90deg,
    rgba(232, 249, 253, 1) 0%,
    rgba(228, 239, 231, 1) 50%,
    rgba(122, 178, 157, 1) 100%
  );
}
#feat-section {
  background-color: #fef9c3;
}
body {
  font-family: "Poppins", sans-serif;
}
main {
  background-color: white;
}

h1 {
  font-size: clamp(0.75em, 6vw, 3.2em);
  line-height: 1.5;
}
h2 {
  font-size: clamp(0.75em, 3.5vw, 2em);
  line-height: 1.5;
}

#hero {
  height: calc(100vh - 10rem);
  height: calc(100svh - 10rem);
}
/* Typography */

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

p {
  font-size: 0.875em;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input::file-selector-button {
  color: black;
  padding: 0.5em;
  background: #e4efe7;
  border: none;
  border-radius: 10px;
  font-size: 0.875em;
}

textarea:disabled,
input:disabled,
input[type="file"]:disabled::file-selector-button,
button:disabled,
select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.mobile-nav {
  pointer-events: none;
  opacity: 0;
}
.mobile-nav.active {
  pointer-events: auto !important;
  opacity: 1 !important;
  transition: opacity 0.3s ease-in;
  transition-delay: 0.8s;
}
textarea,
input,
select {
  outline-color: #159968;
}
[popover] {
  /* Final state of the exit animation */
  transform: scale(0.7);
  opacity: 0;
  transition-property: opacity, transform, overlay, display;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
[popover]:popover-open {
  transform: scale(1);
  opacity: 1;
}

#creatingCampaign::backdrop {
  background-color: #fffcf5 !important;
}

[popover]::backdrop {
  background-color: #000000b4;
  backdrop-filter: blur(3px);
}

@starting-style {
  [popover]:popover-open {
    transform: scale(0.7);
    opacity: 0;
  }
}
